<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PasteEx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <PasteEx.Properties.Settings>
            <setting name="firstTipFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoExtRule" serializeAs="String">
                <value />
            </setting>
            <setting name="autoExtSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="guid" serializeAs="String">
                <value />
            </setting>
            <setting name="lastBootTime" serializeAs="String">
                <value />
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="pasteHotkey" serializeAs="String">
                <value>Ctrl + Alt + X</value>
            </setting>
            <setting name="autoImageToFileEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="monitorAutoSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="fileNamePattern" serializeAs="String">
                <value>$yyyyMMdd$\\Clip_$HHmmss$</value>
            </setting>
            <setting name="monitorAutoSaveEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultStartupMonitorModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationFilterState" serializeAs="String">
                <value>Exclude</value>
            </setting>
            <setting name="ApplicationFilterInclude" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationFilterExclude" serializeAs="String">
                <value />
            </setting>
            <setting name="fileNameFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="fileNamePatternPure" serializeAs="String">
                <value />
            </setting>
        </PasteEx.Properties.Settings>
    </userSettings>
</configuration>
